.game-view {
	display: flex;
	align-items: center;
	justify-content: center;
	background: red;
}

button.doom-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2em auto;
}

button.doom-button-disabled {
	display: none;
}

.doom-header {
	margin-left: auto;
	margin-right: auto;
}

div.doom-dropdown {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

#gameIFrame {
	position: relative;
	height: 70vh;
	width: 100%;
	border: 1px solid black;
}

#game-select {
	margin-left: 1em;
	margin-right: 1em;
}
